
* {
    background-color: fafafa;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;  
    margin: 20px 20px; 
  }

a {
    text-decoration: none;
}

p {
    margin: 0px auto; 
    font-size: 20px;
    width: 40%; 
    text-align: center;
}

.welcome {
    text-align: center;
}

.container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    width: 10%;
    padding: 20px;
    margin: 20px auto; 
}